.wrong-input {
    background-color: #EC8F8F;
}

.nds-options {
    width: 100%;
    float: right;
    text-align: right;
}

.nds-options button {
    border: 0;
    background-color: transparent;
    color: blue;
}

.standard-field {
    padding-right: 10%;
    overflow: hidden;
    margin: 15px 0 15px 0;
}

.standard-input {
    border-width: 0 0 2px 0;
}

.navbar__first-row {
    line-height: 35px;
}

.navbar__second-row {
    line-height: 20px;
}

.navbar__choice {
    padding: 5px;
    border: solid 1px;
    margin: 0 10px 0 0;
    border-radius: 2px;
}

.navbar__choice-second {
    font-size: 75%;
    margin: 0 10px 0 0;
}

.button-selected {
    color: #666;
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}

@media screen and (max-width: 559px) {
    .standard-field {
        padding-right: 1px;
    }
}