.product {
    border: 1px solid rgb(231, 231, 231);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 160px;
    min-height: 220px;
    text-align: left;
    margin-top: auto;
}

.product > img {
    max-width: 150px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.products__info {
    margin-bottom: 15px;
}

.share {
    padding-top: 20px;
}

.share__icons {
    padding-top: 3px;
    padding-left: 10px;
    align-items: center;
    display: flex;
}

.share__icon {
    padding: 0 5px;
}
