.wrong-inn {
    background-color: red;
}

.wrong-bik {
    background-color: red;
}

.wrong-account_number {
    background-color: red;
}

.wrong-for_what {
    background-color: red;
}

.wrong-amount {
    background-color: red;
}

.wrong-phone {
    background-color: red;
}

.wrong-email {
    background-color: red;
}
